html, body {
  background: #eee;
  width: 100%;
  height: 100%;
}
.skip {
  clear: both;
}
#navigation {
  text-align: right;
  padding: 7px 0;
  margin-right: 15px;
  background-image: linear-gradient(bottom, rgb(0,2,34) 0%, rgb(235,235,235) 35%);
  background-image: -o-linear-gradient(bottom, rgb(0,2,34) 0%, rgb(235,235,235) 35%);
  background-image: -moz-linear-gradient(bottom, rgb(0,2,34) 0%, rgb(235,235,235) 35%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,2,34) 0%, rgb(235,235,235) 35%);
  background-image: -ms-linear-gradient(bottom, rgb(0,2,34) 0%, rgb(235,235,235) 35%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,2,34)),
    color-stop(0.35, rgb(235,235,235))
  );
}
#navigation a {
  margin: 0 8px;
}
#house_banner {
  clear: both;
}
#navigation, #house_banner {
  width: 100%;
}
#house_banner {
  padding: 10px 0;
  background: #222;
  text-align: center;
  color: #ccc;
}
#house_banner h1 {
  color: #feff03;
}
.modal-header h3 {
  width: 400px;
}
.sidebar ul {
  padding: 10px 12px;
  background: #eee;
  border: 2px solid #7e7703;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.sidebar li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
#stats_list {
  margin-top: 15px;
}
#casino_floor {
  background: -webkit-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0, -webkit-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px, -webkit-radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0, -webkit-radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px, -webkit-radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0, -webkit-radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px, -webkit-radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0, -webkit-radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px, -webkit-linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0, -webkit-linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background: -moz-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0, -moz-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px, -moz-radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0, -moz-radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px, -moz-radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0, -moz-radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px, -moz-radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0, -moz-radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px, -moz-linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0, -moz-linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background: radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0, radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px, radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0, radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px, radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0, radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px, radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0, radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px, linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0, linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background-color: #300;
  background-size: 100px 100px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-bottom: 30px;
}
.sidebar {
  padding: 15px 10px 20px;
  background: #020202;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0 0 10px 10px;
  width: 100%;
}
.content #casino_floor {
  margin-left: 25px;
}
.sidebar h4 {
  color: #feff03;
}
.sidebar .page-head {
  text-align: center;
}
.sidebar ul, .sidebar ol {
  margin: 0 auto;
  width: 75%;
}
.house_table_wrapper {
  list-style: none;
  float: left;
  margin-right: 20px;
  margin-top: 40px;
  width: 400px;
  height: 250px;
  position: relative;
  padding: 10px;
}
.house_table_wrapper .house_table {
  text-align: center;
  width: 330px;
  height: 175px;
  border: 5px solid #9D6220;
  border-radius: 40px;
}
.house_table {
  z-index: 4;
  margin: 30px auto 0;
  position: relative;
  color: #fff;
  background-color: #07702E;
  background-size: 16px 16px;
}
#main_table_wrapper, #table_info_wrapper {
  padding-top: 40px;
  margin-bottom: 70px;
}
#table_info_wrapper {
  position: relative;
}
#main_table_wrapper .house_table {
  width: 825px;
  height: 395px;
  border: 10px solid #9D6220;
  border-radius: 80px;
}
#table_info_wrapper .house_table {
  text-align: center;
  width: 578px;
  height: 275px;
  border: 10px solid #9D6220;
  border-radius: 80px;
}
a.join_table_link {
  text-decoration: none;
}
#join_table_link {
  color: #222;
}
.house_table p {
  font-size: 20px;
}
.table_overview {
  margin-top: 70px;
}
.table_seats_wrapper {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 4;
}
#main_table_wrapper .seat {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 4px solid #000;
  border-radius: 50px;
}
.house_table_wrapper .seat {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #000;
  border-radius: 25px;
}
#table_info_wrapper .seat {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 3px solid #000;
  border-radius: 38px;
}
.seat {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background: #e69a50;
  color: #000;
  -webkit-box-shadow: 4px 1px 10px #333;
  -moz-box-shadow: 4px 1px 10px #333;
  -ms-box-shadow: 4px 1px 10px #333;
  -o-box-shadow: 4px 1px 10px #333;
  box-shadow: 4px 1px 10px #333;
  cursor: pointer;
}
.empty_seat {
  color: #222;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}
.empty_seat:hover {
  color: #000;
  background: #ECB379;
  border: 2px solid #333;
}
.house_table_wrapper .dealer_seat {
  color: #000;
  background: #953e56;
  -webkit-transform: translate(0, -.5em);
  -moz-transform: translate(0, -.5em);
  -os-transform: translate(0, -.5em);
  -ms-transform: translate(0, -.5em);
}
.house_table_wrapper .seat_1 {
  -webkit-transform: translate(-9.9em, 4.5em);
  -moz-transform: translate(-9.9em, 4.5em);
  -os-transform: translate(-9.9em, 4.5em);
  -ms-transform: translate(-9.9em, 4.5em);
}
.house_table_wrapper .seat_2 {
  -webkit-transform: translate(-6em, 6.2em);
  -moz-transform: translate(-6em, 6.2em);
  -os-transform: translate(-6em, 6.2em);
  -ms-transform: translate(-6em, 6.2em);
}
.house_table_wrapper .seat_3 {
  -webkit-transform: translate(0, 4.1em);
  -moz-transform: translate(0, 4.1em);
  -os-transform: translate(0, 4.1em);
  -ms-transform: translate(0, 4.1em);
}
.house_table_wrapper .seat_4 {
  -webkit-transform: translate(5.7em, 1.8em);
  -moz-transform: translate(5.7em, 1.8em);
  -os-transform: translate(5.7em, 1.8em);
  -ms-transform: translate(5.7em, 1.8em);
}
.house_table_wrapper .seat_5 {
  -webkit-transform: translate(8.9em, -4.6em);
  -moz-transform: translate(8.9em, -4.6em);
  -os-transform: translate(8.9em, -4.6em);
  -ms-transform: translate(8.9em, -4.6em);
}
#main_table_wrapper .dealer_seat {
  color: #000;
  background: #953e56;
  -webkit-transform: translate(0, -2em);
  -moz-transform: translate(0, -.5em);
  -os-transform: translate(0, -.5em);
  -ms-transform: translate(0, -.5em);
}
#main_table_wrapper .seat_1 {
  -webkit-transform: translate(-23.5em, 10.5em);
  -moz-transform: translate(-23.5em, 10.5em);
  -os-transform: translate(-23.5em, 10.5em);
  -ms-transform: translate(-23.5em, 10.5em);
}
#main_table_wrapper .seat_2 {
  -webkit-transform: translate(-17em, 14.2em);
  -moz-transform: translate(-17em, 14.2em);
  -os-transform: translate(-17em, 14.2em);
  -ms-transform: translate(-17em, 14.2em);
}
#main_table_wrapper .seat_3 {
  -webkit-transform: translate(0, 9.8em);
  -moz-transform: translate(0, 9.8em);
  -os-transform: translate(0, 9.8em);
  -ms-transform: translate(0, 9.8em);
}
#main_table_wrapper .seat_4 {
  -webkit-transform: translate(15em, 5.5em);
  -moz-transform: translate(15em, 5.5em);
  -os-transform: translate(15em, 5.5em);
  -ms-transform: translate(15em, 5.5em);
}
#main_table_wrapper .seat_5 {
  -webkit-transform: translate(21.9em, -6.3em);
  -moz-transform: translate(21.9em, -6.3em);
  -os-transform: translate(21.9em, -6.3em);
  -ms-transform: translate(21.9em, -6.3em);
}
#table_info_wrapper .dealer_seat {
  color: #000;
  background: #953e56;
  -webkit-transform: translate(0, -1.5em);
  -moz-transform: translate(0, -1.5em);
  -os-transform: translate(0, -1.5em);
  -ms-transform: translate(0, -1.5em);
}
#table_info_wrapper .seat_1 {
  -webkit-transform: translate(-16.5em, 6.5em); 
  -moz-transform: translate(-16.5em, 6.5em); 
  -os-transform: translate(-16.5em, 6.5em);
  -ms-transform: translate(-16.5em, 6.5em);
}
#table_info_wrapper .seat_2 {
  -webkit-transform: translate(-10em, 9.2em);
  -moz-transform: translate(-10em, 9.2em);
  -os-transform: translate(-10em, 9.2em);
  -ms-transform: translate(-10em, 9.2em);
}
#table_info_wrapper .seat_3 {
  -webkit-transform: translate(0, 6em);
  -moz-transform: translate(0, 6em);
  -os-transform: translate(0, 6em);
  -ms-transform: translate(0, 6em);
}
#table_info_wrapper .seat_4 {
  -webkit-transform: translate(11em, 2.7em);
  -moz-transform: translate(11em, 2.7em);
  -os-transform: translate(11em, 2.7em);
  -ms-transform: translate(11em, 2.7em);
}
#table_info_wrapper .seat_5 {
  -webkit-transform: translate(16.2em, -6.3em);
  -moz-transform: translate(16.2em, -6.3em);
  -os-transform: translate(16.2em, -6.3em);
  -ms-transform: translate(16.2em, -6.3em);
}
.player_cards_wrapper {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 6;
  margin-top: 95px;
}
.card_wrapper {
  z-index: 6;
}
.card {
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
.red_card {
  color: #FF0000;
}
.black_card {
  color: #000;
}
#main_table_wrapper .card_wrapper {
  width: 100px;
  margin: 0 auto;
}
#main_table_wrapper .card {
  width: 35px;
  height: 55px;
  margin-left: 3px;
  float: left;
  line-height: 55px;
}
#main_table_wrapper .dealer_cards {
  color: #000;
  background: #953e56;
  -webkit-transform: translate(0, -2em);
  -moz-transform: translate(0, -.5em);
  -os-transform: translate(0, -.5em);
  -ms-transform: translate(0, -.5em);
}
#main_table_wrapper .seat_1_cards {
  -webkit-transform: translate(-28.5em, 8.5em);
  -moz-transform: translate(-28.5em, 8.5em);
  -os-transform: translate(-28.5em, 8.5em);
  -ms-transform: translate(-28.5em, 8.5em);
}
#main_table_wrapper .seat_2_cards {
  -webkit-transform: translate(-24em, 14.2em);
  -moz-transform: translate(-24em, 14.2em);
  -os-transform: translate(-24em, 14.2em);
  -ms-transform: translate(-24em, 14.2em);
}
#main_table_wrapper .seat_3_cards {
  -webkit-transform: translate(0, 9.8em);
  -moz-transform: translate(0, 9.8em);
  -os-transform: translate(0, 9.8em);
  -ms-transform: translate(0, 9.8em);
}
#main_table_wrapper .seat_4_cards {
  -webkit-transform: translate(21em, 5.5em);
  -moz-transform: translate(21em, 5.5em);
  -os-transform: translate(21em, 5.5em);
  -ms-transform: translate(21em, 5.5em);
}
#main_table_wrapper .seat_5_cards {
  -webkit-transform: translate(24.9em, -9.3em);
  -moz-transform: translate(24.9em, -9.3em);
  -os-transform: translate(24.9em, -9.3em);
  -ms-transform: translate(24.9em, -9.3em);
}
#player_cards .card {
  width: 42px;
  height: 66px;
}
#table_dash_board {
  position: fixed;
  bottom: 0;
  z-index: 15;
  width: 100%;
  height: 100px;
  background: rgb(15, 15, 15);
  background: rgba(15, 15, 15, 0.9);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333333, endColorstr=#333333333);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333333, endColorstr=#333333333)";
  border-top: 3px solid #333;
}
#table_dash_board .dash_section {
  margin-top: 10px;
  text-align: center;
  background: #222;
  padding: 15px 5px;
  border: 1px solid #333;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
#table_dash_board .dash_section:hover {
  border: 1px solid #444;
}
.dash_section p {
  color: #feff03;
}

#basic_strategy_pane, #table_info_pane {
  position: absolute;
  top: 200px;
  transition: all .2s ease-in-out; 
  -moz-transition: all .2s ease-in-out; 
  -webkit-transition: all .2s ease-in-out; 
  -o-transition: all .2s ease-in-out; 
  -ms-transition: all .2s ease-in-out; 
}
#basic_strategy_pane {
  left: -605px;
}
#table_info_pane {
  right: -605px;
}
#basic_strategy_pane.show, #table_info_pane.show {
  transition: all .2s ease-in-out; 
  -moz-transition: all .2s ease-in-out; 
  -webkit-transition: all .2s ease-in-out; 
  -o-transition: all .2s ease-in-out; 
  -ms-transition: all .2s ease-in-out; 
}
#basic_strategy_pane.show {
  left: 0;
}
#table_info_pane.show {
 right: 0;
}
#basic_strategy_table_wrapper, #table_info_content_wrapper {
  background: #000;
  position: relative;
  z-index: 20;
  height: 400px;
  width: 600px;
  overflow: auto;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
#basic_strategy_table_wrapper {
  padding: 3px 3px 0 0;
  border-right: 3px solid #000;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}
#table_info_content_wrapper {
  padding: 0 0 3px 3px;
  border-left: 3px solid #000;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
}
#basic_strategy_pane table {
  padding-left: 10px;
  background: #fff;
}
#basic_strategy_handle, #table_info_handle {
  cursor: pointer;
  z-index: 18;
  position: absolute;
  top: 150px;
  height: 100px;
  width: 20px;
  background: #999;
  border: 2px solid #444;
}
#basic_strategy_handle {
  right: -20px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
}
#table_info_handle {
  left: -20px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
}
#basic_strategy_pane:hover {
  left: -600px;
}
#basic_strategy_pane.show:hover {
  left: 0;
}
#table_info_pane:hover {
  right: -600px;
}
#table_info_pane.show:hover {
  right: 0;
}

#player_avatar_options img {
  display: none;
}
#player_avatar_options img.chosen {
  display: inline;
}
.image_shift_button {
}
