<lift:surround with="default" at="content">
  <lift:bind-at name="extra-js">
    <script>
       $(document).ready(function() {
          var i,  // loop counter
          len, // number of iterations
          gameplay, players, deck, card;


          // set our mode
          CASINO.mode = CASINO.modes.IN_GAME;
 
          // model for the current game
          // TODO: here's where we can bootstrap the table
          CASINO.main_table = new CASINO.models.Table({
             id: 1,
             chips_to_cash_ratio: 1 / 200,
             min_bet: 100,
             in_play: false,
             counter: 10
          });


          // view for the current game
          gameplay = new CASINO.views.GamePlayView({
             el: $('#game_play_view'),
             model: CASINO.main_table
          });
 
          // add some players
          // TODO: here's where we can bootstrap the players currently at the table
          players = [
             new CASINO.models.User({ dealer: true, id: 0, a_real_boy: false, client_user: false, name: 'Greg', chips: 20000000, avatar: '/images/avatars/cute_1.jpg' }),
             new CASINO.models.User({ id: 1, a_real_boy: true, client_user: true, name: 'Joey', chips: 20000, avatar: '/images/avatars/cute_2.jpg' }),
             new CASINO.models.User({ id: 2, a_real_boy: true, client_user: false, name: 'Sean', chips: 40000, avatar: '/images/avatars/cute_3.jpg' }),
             new CASINO.models.User({ id: 3, a_real_boy: true, client_user: false, name: 'Neal', chips: 15000, avatar: '/images/avatars/cute_4.jpg' }),
             new CASINO.models.User({ id: 4, a_real_boy: false, client_user: false, name: 'Jon', chips: 1000, avatar: '/images/avatars/cute_5.jpg' }),
             new CASINO.models.User({ id: 5, a_real_boy: false, client_user: false, name: 'Ron', chips: 10000000, avatar: '/images/avatars/cute_6.jpg' })
          ];
 
          CASINO.main_table.players.add(players);
 
          // give cards to the players
          // TODO: here's where we will bootstrap cards already on the table
          for (i = 0, len = players.length * 2; i < len; i += 1) {
             // card = deck.draw(); // draw a card
             // CASINO.main_table.dealCard( card, players[i % players.length].get('id') );
          }


          $('#basic_strategy_handle, #table_info_handle').click(function(e) {
              $(this).parent().toggleClass('show');
          });
       });
    </script>
  </lift:bind-at>

  <div id="trade_in_cash_modal" class="modal fade">
    <div class="modal-header">
      <a href="#" class="close">x</a>
      <h3>How many of your chips would you like to cash out?</h3>
    </div>
    <div class="lift:TableUtils.chipsSubmitForm">
      Form goes here...
    </div>
  </div>

  <div id="container">
    <div id="casino_floor">
      <div id="table_section"></div>
    </div>
    <div id="game_play_view">
      <div id="table_dash_board">
        <div class="container">
          <div class="span2 dash_section">
            <p>Table Min bet: <b id="table_a_min_bet"><%= min_bet %></b> chips</p>
          </div>
          <div class="span8 dash_section">
            <span class="betting_actions <%= in_play ? 'hide' : '' %>">
              <input class="btn up_bet" value="+" type="button">
              <input class="btn primary your_bet" value="Bet <%= min_bet %>" type="button">
              <input class="btn down_bet" value="-" type="button">
              <input type="hidden" value="<%= min_bet %>" class="your_bet_field" />
            </span>
            <span class="game_actions <%= in_play ? '' : 'hide' %>">
              <input class="btn primary" value="Hit" type="button">
              <input class="btn primary" value="Stand" type="button">
              <input class="btn primary" value="Split" type="button">
              <input class="btn primary" value="Double Down" type="button">
              <input class="btn primary" value="Insurance" type="button">
            </span>
          </div>
          <div class="span2 dash_section"><p class="betting_actions <%= in_play ? 'hide' : '' %>">Waiting for bet...</p><p class="game_actions <%= in_play ? '' : 'hide' %>">Hand total: <b id="player-    hand-total">{{Total}}</b></p></div> 
          <div class="span2 dash_section"><a data-keyboard="true" data-backdrop="true" data-controls-modal="trade_in_cash_modal" class="cash_out_button btn primary" href="index.html">Cash Out</a></di    v>
        </div>
      </div>
      
      <lift:embed what="basic_strategy">
        The Basic Strategy Table will go here...
      </lift:embed>
      
      <div id="table_info_pane">
        <div id="table_info_handle">
          <span>Info:</span>
        </div>
        <div id="table_info_content_wrapper">
          <div class="page-header">
            <h3>Table A</h3>
          </div>
          <ul class="content_box unstyled">
            <li>
              Number of Players: <em>3</em>
            </li>
            <li>
              Number of Open Seats: <em>2</em>
            </li>
            <li>
              Total Hands Dealt: <em>42</em>
            </li>
            <li>
              Average Bet: <em>$75</em>
            </li>
            <li>
              Name of Dealer: <em>Jose</em>
            </li>
            <li>
              Started: <em>10/22/11 4:25am</em>
            </li>
          </ul>
          <div class="content_box">
            <h4>Share this table</h4>
            <p></p><div data-font="lucida grande" data-show-faces="false" data-width="450" data-layout="button_count" data-send="false" class="fb-like"></div><p></p>
            <p><a data-count="none" data-text="SBW Casino - All the fun of blackjack, with all the style of Lift." class="twitter-share-button" href="https://twitter.com/share">Tweet</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>


<!-- Templates -->
<script type="text/template" id="card-template">
  <span class="card_value"><%= value %></span>
  <% if (!visible) { %>
    <img src="images/back_small.png" />
  <% } %>
</script>

<script type="text/template" id="hand-template">
</script>

<script type="text/template" id="main-table-template">
  <div id="main_table_wrapper">
    <div class="table_message <%= in_play ? 'hide' : '' %>">
      <div class="table_message_content"></div>
      <div class="table_timer <%= in_play ? 'hide' : '' %>">Bet in: <span class="counter"><%= counter %></span></div>
    </div>
    <div class="table_seats_wrapper"></div>
    <div class="house_table player_cards_wrapper"></div>

  </div>
</script>


</lift:surround>
